<h3>未来大生のためのOAuthプロバイダサービス</h3>

<p>このサービスを介して認証を行うことで、ユーザが未来大生であることを保証できます！</p>

<ul>
  <li>開発者は、このサービスを認証に組み込むことで、自身のサービスを未来大生だけに使ってもらうことができます</li>
  <li>ユーザは、このサービスのアカウントを使うことで、様々な未来大生向けサービスにログインできます</li>
</ul>

<p>いずれの用途で使う場合も、まずはアカウントを作りましょう！</p>

<% if user_signed_in? %>
  <button class="btn btn-secondary" disabled>ログイン済み</button>
<% else %>
  <a class="btn btn-primary" type="button" href="/users/sign_up">アカウント作成</a>
<% end %>
